body {
    margin: 40px;
}

.calculator {
    display: grid;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px;
    grid-template-rows: [row] auto [row] auto [row];
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.result {
    grid-column: col / span 4;
    grid-row: row 1;
    height: 25px;
    text-align: right;
}

.b1 {
    grid-column: col 1;
    grid-row: row 2;
}

.b2 {
    grid-column: col 2;
    grid-row: row 2;
}

.b3 {
    grid-column: col 3;
    grid-row: row 2;
}

.b4 {
    grid-column: col 4;
    grid-row: row 2;
}

.c1 {
    grid-column: col 1;
    grid-row: row 3;
}

.c2 {
    grid-column: col 2;
    grid-row: row 3;
}

.c3 {
    grid-column: col 3;
    grid-row: row 3;
}

.c4 {
    grid-column: col 4;
    grid-row: row 3;
}

.d1 {
    grid-column: col 1;
    grid-row: row 4;
}

.d2 {
    grid-column: col 2;
    grid-row: row 4;
}

.d3 {
    grid-column: col 3;
    grid-row: row 4;
}

.d4 {
    grid-column: col 4;
    grid-row: row 4;
}

.e1 {
    grid-column: col 1;
    grid-row: row 5;
}

.e23 {
    grid-column: col 2 / span 2;
    grid-row: row 5;
}
.e4 {
    grid-column: col 4;
    grid-row: row 5;
}
