root {
  --text-color: #666
  --bg-color: #eee;
  --primary-color: hotpink;
  --active-color: var(--primary-color)
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: "Merriweather", serif;
  font-weight: 100;
  line-height: 1.75;
  color: #000000;
  
}
main {
  
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
  min-width: 200px;
  /*
  background-image: url(image/picture.jpg);
  background-size: 75%;
  background-position: left;
  background-repeat: cover;
  color: white;
*/
}
header{
  background-image: url(image/tlo.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
  height: 100px;
}
table{
  border: 2;
  border-color: yellow;
}
p {
  margin-bottom: 1rem;
  
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem;
}

h2 {
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5 {
  font-size: 1.067rem;
}

small,
.text_small {
  font-size: 0.937rem;
}

/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap'); */
.image-left {
  float: left;
  margin: 0 2em 0 0;
}
.image-right {
  float: right;
  margin: 0 0 0 2em;
}

/* Klasy związane z menu */
/* musi być bo inczej dziecko nie zdziedziczy wszystkich elementó*/
ul#menu,
ul#menu ul {
  list-style: none;
  text-transform: uppercase;
 
}
 #menu li.active~li a {  /* ~  każdy kolejny element*/
  
  color: var(--primary-color);
  background-color: aqua;
}

ul#menu a {
  color: black;
  
 
}
#menu .important a{
  color: #33fb01f5 !important;
}

#menu li.active>a {
  color: red;

}
/*
li:hover{
  background-color: peachpuff;
}
*/
li:hover a {
  color: palevioletred !important;
  text-decoration: underline;
}

/* == Sub-menu*/
.navigation_main li {
  position: relative;
}
.navigation_mian ul li ul{
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  background: pink;
  width: 100%;
}

.navigation_main ul>li>ul {
  display: none;
}
.navigation_main li:hover > ul {
  display: block;
  padding: 0;

}
ul li ul li:hover ul{
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 200;
}
.navigation_main ul
{

  display: flex;
  justify-content: space-around;
  align-content: space-evenly;
  flex-direction: row;
  align-items: baseline;

}
.navigation ul{
  display: flex;
 
}

/* flex podział na kolumny */

.row{
  display: flex;
}
.row .col {
  flex: 1 1 100%
}
.main-content article.product-content{
  flex-grow:3;
}
.main-content .sidebar {
  flex-shrink: 3;
  width: 200px;
}

@media print{
  .navigation_main {
    display: none !important;
  }
  header {
    background-color: white;
  }
  table{
    display: none !important;
  }
  .contact-section{
    display: none !important;
  }
}