.menu {
    display: flex;
    /*justify-content: space-around;*/
}
.menu li{
    position: relative;
   list-style: none;
   }

.menu ul li{
    /*display: none;*/
   
    position: absolute;
    left: 0px;
    top: 100%;
    height: 100%;
    z-index: 100;
}
/*
.menu li:hover{
    background-color: yellow;
}
.menu li:hover ul{
    
    display: block;
}




*/