ul{
    list-style: none;
  }
  ul>li>ul {
    display: none;
  }
  .grid-item:hover .list-of-product{
    display: block;
  }
  .grid-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  
  .grid-item {
    border: 0.1rem solid black;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    background-color: lightblue;
  }
  
  @media only screen and (max-width: 360px) {
    .grid-container {
      grid-template-columns: auto auto;
    }
  @media only screen and (max-width: 200px) {
      .grid-container {
        grid-template-columns: auto;
      }
    }
  }
  