.flex-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

ul {
  list-style: none;
}
ul > li {
  min-width: 130px;
  min-height: 50px;
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}
.list-of-product{
  display: none;
  position: absolute;
  flex-flow: column wrap;
  padding: 0;
}

.product-category:hover .list-of-product{
  display: block;
  top: 0;

  
}


@media only screen and (max-width: 360px) {
}
@media only screen and (max-width: 200px) {

  ul > li {
    padding-top: 10px;
  }
  ul {
    padding: 0;
  }
}
